<%= form_for(@status, :html => { :class => 'cmxform'}) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <ol>
      <li><%= f.label :code, "Status Code" %><%= f.text_field :code %></li>
      <li><%= f.label :public %><%= f.check_box :public %></li>
      <li><%= f.label :message, "Display Message" %><%= f.text_field :message %></li>
    </ol>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
