<% content_for :title, "Statuses" %>
<div class="main-title">All Statuses</div>
<div class="hr_dl flush"><%= image_tag("bl.png", :alt => "") %></div>
<br />
<div class="mc-indent">
  <h2 id="statuses">Statuses <%= link_to 'Add', new_status_path, :class => "link-button" %></h2>
  <div>
    <table cellpadding="0" cellspacing="0" width="100%" class="elements">
     <thead>
      <tr class="cat_title">
        <th style="text-align:right;">Code</th>
        <th>Visibility</th>
        <th>Mesage</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @statuses.each do |status| %>
       <tr class="<%= cycle('odd', 'even') %>">
         <td style="text-align:right;"><%= status.code %></td>
         <td><%= status.public? ? "Public" : "Private" %></td>
         <td><%= status.message %></td>
         <td>
           <span>
             <%= link_to 'Edit', edit_status_path(status), :class => 'edit-link' %>&nbsp;
             <%= link_to 'Remove', status, :confirm => 'Are you sure?', :method => :delete, :class => 'cancel-link' %>
           </span>
         </td>
       </tr>
     <% end %>
    </tbody>
   </table>
  </div>
</div>
