<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @status.message %>
</p>

<p>
  <b>Code:</b>
  <%= @status.code %>
</p>

<p>
  <b>Public:</b>
  <%= @status.public %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
