<h1>Listing stops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Route(s)</th>
    <th>Enabled</th>
    <th>Phoentic</th>
  </tr>

<% @stops.each do |stop| %>
  <tr>
    <td><%=h stop.name %></td>
    <td><%=h stop.latitude %></td>
    <td><%=h stop.longitude %></td>
    <td><% stop.routes.each do |r| %><%= link_to r.name, r %><BR><% end %></td>
    <td><%=h stop.enabled %></td>
    <td><%=h stop.phoentic %></td>
    <td><%= link_to 'Show', stop %></td>
    <td><%= link_to 'Edit', edit_stop_path(stop) %></td>
    <td><%= link_to 'Destroy', stop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stop', new_stop_path %>
