<% content_for :js_ready do %>
  var stop = <%=raw @stop.to_json() %>;
  stop = stop.stop;  
  var map = setup_map(stop, 17);
  add_point_to_map(stop, map);
<% end %>

<% content_for :title, @stop.name %>

<div class="main-title">
	<%= @stop.name %>
</div>
<div class="data_grid">
  <dl>
    <dt>Next Shuttle Arriving:</dt>
    <dd>5 min.<!-- Aren't I funny.... --></dd>
    <dt>Routes Served:</dt>
    <dd>
      <%=raw @stop.routes.map{ |r| link_to(r.name, r)}.join(", ") %>
    </dd>
    <dt>Status:</dt>
    <dd><%= @stop.enabled? ? "Enabled" : "Disabled" %></dd>
    <dt>Phonetic:</dt>
    <dd><%= @stop.phonetic %></dd>
</div>
<%= map_canvas({:style => "height: 300px; width: 49%;"})%>
<div>
  <%= link_to 'Edit', edit_stop_path(@stop) %> |
  <%= link_to 'Back', stops_path %>
</div>
