<% content_for :js_ready do %>
  var stop = <%=raw @stop.to_json() %>;
  stop = stop.stop;  
  var map = setup_map(stop, 17);
  add_point_to_map(stop, map);
<% end %>

<% content_for :title, @stop.name %>

<div class="main-title">
	<%= @stop.name %>
</div>
<%= map_canvas({:style => "height: 500px;"})%>
<div>
  <p>
    <b>Status:</b>
    <%= @stop.enabled? ? "Enabled" : "Disabled" %>
  </p>
  <% if !@stop.phonetic.blank? %>
    <p>
      <b>Phonetic:</b>
      <%= @stop.phonetic %>
    </p>
  <% end %>
  <%= link_to 'Edit', edit_stop_path(@stop) %> |
  <%= link_to 'Back', stops_path %>
</div>
