<%= form_for([@vehicle, @update], :html => { :class => 'cmxform'}) do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <ol>
      <li><%= f.label :latitude %><%= f.text_field :latitude %></li>
      <li><%= f.label :longitude %><%= f.text_field :longitude %></li>
      <li><%= f.label :heading %><%= f.text_field :heading %></li>
      <li><%= f.label :speed %><%= f.text_field :speed %></li>
      <li><%= f.label :timestamp %><%= f.datetime_select :timestamp %></li>
      <li><%= f.label :lock %><%= f.text_field :lock %></li>
      <li><%= f.label :status_code, "Status" %><%= f.collection_select :status_code, Status.all, :code, :message, {:include_blank => true} %></li>
    </ol>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
