<p id="notice"><%= notice %></p>

<p>
  <b>Vehicle:</b>
  <%= @update.vehicle %>
</p>

<p>
  <b>Latitude:</b>
  <%= @update.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @update.longitude %>
</p>

<p>
  <b>Heading:</b>
  <%= @update.heading %>
</p>

<p>
  <b>Speed:</b>
  <%= @update.speed %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @update.timestamp %>
</p>

<p>
  <b>Lock:</b>
  <%= @update.lock %>
</p>

<p>
  <b>Status:</b>
  <%= @update.status %>
</p>


<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
