<%= form_for(@route, :html => { :class => 'cmxform'}) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <ol>
      <li><%= f.label :name %><%= f.text_field :name %></li>
      <li><%= f.label :description %><%= f.text_area :description %>
      <li><%= f.label :start_time %><%= f.text_field :start_time, :type => 'time' %></li>
      <li><%= f.label :end_time %><%= f.text_field :end_time, :type => 'time' %></li>
      <li><%= f.label :enabled %><%= f.check_box :enabled %></li>
      <li><%= f.label :color %><%= f.text_field :color %></li>
      <li><%= f.label :width %><%= f.text_field :width %></li>
      <li><%= f.label :coords %><%= f.text_field :coords %></li>
    </ol>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
