  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :start_time %><br />
    <%= form.time_select :start_time %>
  </p>
  <p>
    <%= form.label :end_time %><br />
    <%= form.time_select :end_time %>
  </p>
  <p>
    <%= form.label :enabled %><br />
    <%= form.check_box :enabled %>
  </p>
  <p>
    <%= form.label :kml %><br />
    <%= form.file_field :kml %>
  </p>