<% content_for :js_ready do %>
    var point = {latitude: <%= MAP_CENTER[:lat] %>, longitude: <%= MAP_CENTER[:long] %>};
    var map = setup_map(point, 10);
    var polyline = new google.maps.Polyline({
     strokeColor: "<%= @route.color %>",
     strokeWeight: <%= @route.width %>
    });
    var map_bounds = new google.maps.LatLngBounds();
    
    polyline.setMap(map);
    
    var coords = <%=raw @route.coords.to_json() %>;
    
    $.each(coords, function(index, coord){
      coord = coord.coord;
      position = add_point_to_polyline(coord, polyline);
      map_bounds.extend(position);
    });
    map.fitBounds(map_bounds);
<% end %>

<% content_for :title, @route.name %>

<div class="main-title">
  <%= @route.name %>
</div>
<%= map_canvas({:style => " height: 500px;"})%>
<div>
  <%=raw @route.description %>
  <br />
  
  <% if !@route.start_time.blank? %>
    <p> 
      <b>Start Time:</b>
      <%= @route.start_time %>
    </p>
  <% end %>
  <% if !@route.start_time.blank? %>
    <p>
      <b>End Time:</b>
      <%= @route.end_time %>
    </p>
  <% end %>
  <p>
    <b>Status:</b>
    <%= @route.enabled? ? "Enabled" : "Disabled" %>
  </p>
  <% if !@route.color.blank? %>
    <p>
      <b>Color:</b>
      <span style="color:<%= @route.color %>;"><%= @route.color %></span>
    </p>
  <% end %>
  <p>
    <b>Width:</b>
    <%= @route.width %>
  </p>
</div>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
