<% content_for :title, "Vehicles" %>
<div class="main-title">All Vehicles</div>
<div class="hr_dl flush"><%= image_tag("bl.png", :alt => "") %></div>
<br />
<div class="mc-indent">
  <h2 id="vehicles">Vehicles <%= link_to 'Add', new_vehicle_path, :class => "link-button" if can? :create, Vehicle %></h2>
  <div>
    <table cellpadding="0" cellspacing="0" width="100%" class="elements">
     <thead>
      <tr class="cat_title">
        <th style="text-align:right;">Name</th>
        <th>Identifier</th>
        <th>Status</th>
        <th style="text-align: left;">Activity</th>
        <th>Updates</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @vehicles.each do |vehicle| %>
       <tr class="<%= cycle('odd', 'even') %>">
         <td style="text-align:right;"><%= link_to vehicle.name, vehicle %></td>
         <td><%= vehicle.identifier %></td>
         <td><%= vehicle.enabled? ? "Enabled" : "Disabled" %></td>
         <td style="text-align: left;">
           <%= vehicle.active? ? image_tag('car.png') : image_tag('stop.png') %>
           Last update: <%= vehicle.offline_for.finite? ? ChronicDuration.output(vehicle.offline_for.to_i, :format => :short) : "Never" %>
         </td>
         <td><%= link_to "Updates", vehicle_updates_url(vehicle) %></td>
         <td>
           <span>
             <%= link_to 'Edit', edit_vehicle_path(vehicle), :class => 'edit-link' if can? :update, vehicle %>&nbsp;
             <%= link_to 'Remove', vehicle, :confirm => 'Are you sure?', :method => :delete, :class => 'cancel-link' if can? :destroy, vehicle%>
           </span>
         </td>
       </tr>
     <% end %>
    </tbody>
   </table>
  </div>
</div>
