<% content_for :title, @vehicle.name %>

<div class="main-title">
        <%= @vehicle.name %>
</div>
<div class="data_grid">
  <dl>
    <dt>Identifier:</dt>
    <dd><%= @vehicle.identifier %></dd>
    <dt>Active:</dt>
    <dd><%= @vehicle.active? %></dd>
    <dt>Enabled:</dt>
    <dd><%= @vehicle.enabled %></dd>
  </dl>
</div>
<%= map_canvas({:style => "height: 300px; width: 49%;"})%>
<div>
  <%= link_to 'Edit', edit_vehicle_path(@vehicle) if can? :update, @vehicle %> |
  <%= link_to 'Back', vehicles_path %>
</div>
