<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @icon.name %>
</p>
<p>
  <b>Heading:</b>
  <%= @icon.heading %>
</p>



<%= link_to 'Edit', edit_icon_path(@icon) if can? :update, @icon %> |
<%= link_to 'Back', icons_path %>
