<h1>Editing shuttle</h1>

<% form_for(@shuttle) do |f| %>
  <%= f.error_messages %>
  <%= render :partial=>"form", :locals=>{:f=>f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @shuttle %> |
<%= link_to 'Back', shuttles_path %>